@using EasyAbp.EasyComment.Comments.Dtos
@using EasyAbp.EasyComment.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<EasyCommentResource> L

<abp-container class="ec-comments">
    <abp-row>
        <i class="fa fa-comments"> @L["TotalComments", Model.TotalCount]</i>
    </abp-row>
    @{ int i = 1;}
    @foreach (CommentDto comment in Model.Items)
    {
        <abp-container class="ec-comment">
            <abp-row>
                <a class="ec-comment-link" href="#@comment.Id">#@(i++)</a>
                <p class="ec-creator">@comment.CreatorName</p>
                <span class="ec-comment-time">@comment.CreationTime</span>
            </abp-row>
            <p class="ec-content" id="@comment.Id">@comment.Content</p>
            <hr/>
        </abp-container>
    }
</abp-container>