@using EasyAbp.EasyComment.Comments.Dtos
@using EasyAbp.EasyComment.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.Users
@model EasyAbp.EasyComment.Web.Pages.Shared.Components.CommentWidget.CommentWidgetViewModel
@inject IHtmlLocalizer<EasyCommentResource> L
@inject ICurrentUser CurrentUser

<abp-container class="ec-comments">
    <abp-input asp-for="ItemType"></abp-input>
    <abp-input asp-for="ItemKey"></abp-input>
    <abp-row>
        <i class="fa fa-comments"> @L["TotalComments", Model.Comments.TotalCount]</i>
    </abp-row>
    @{ int i = 1; }
    @foreach (CommentDto comment in Model.Comments.Items)
    {
        <abp-container class="ec-comment">
            <abp-row>
                <abp-column size="_6">
                    <abp-row>
                        <a class="ec-comment-link" href="#@comment.Id">#@(i++)</a>
                        <p class="ec-creator">@comment.CreatorName</p>
                        <time class="ec-comment-time" datetime="@comment.CreationTime">@comment.CreationTime</time>
                    </abp-row>
                </abp-column>
                <abp-column size="_6" class="text-right">
                    <abp-dropdown>
                        <abp-dropdown-button button-type="Light" class="" text="..." size="Medium"/>
                        <abp-dropdown-menu>
                            @if (comment.CreatorId == CurrentUser.GetId())
                            {
                                <abp-dropdown-item href="#">@L["Edit"]</abp-dropdown-item>
                            }
                            <abp-dropdown-item href="#">@L["Reply"]</abp-dropdown-item>
                            <abp-dropdown-item href="#">@L["Reference"]</abp-dropdown-item>
                            @if (comment.CreatorId == CurrentUser.GetId())
                            {
                                <abp-dropdown-divider/>
                                <abp-dropdown-item href="#">@L["Remove"]</abp-dropdown-item>
                            }
                        </abp-dropdown-menu>
                    </abp-dropdown>
                </abp-column>
            </abp-row>
            <p class="ec-content" id="@comment.Id">@comment.Content</p>
            <hr/>
        </abp-container>
    }
    @if (CurrentUser.IsAuthenticated)
    {
        <form method="post">
            <label class="ec-leave-comment" asp-for="Content">@L["LeaveComment"]</label>
            <abp-input class="ec-textarea-new-comment" asp-for="Content" rows="5" no-label></abp-input>
            <abp-button class="ec-button-new-comment" type="submit" button-type="Info" text="@L["SubmitComment"].Value"/>
        </form>
    }
    else
    {
    }
</abp-container>